/*CONSIDERACIONES GENERALES*/
body{
  background: #02010a;
  font-family: 'DancingScript', cursive;
  width: 900px;
  height: auto;
  margin: 0 auto;
  padding: 15px 0;
}

img{
  -webkit-filter:drop-shadow(2px 2px 2px #02010a);
  filter:drop-shadow(2px 2px 2px #02010a);
}

/*CABEZERA*/

#contenido {
	width: 900px;
	margin: 0 auto;
}

header{
  background: #5b7989;
  border-radius: 10px 10px 0 0;
  text-shadow: 2px 2px #02010a;
  padding: 15px 0;
  display: flex;
  flex-flow: row wrap;

}
#titulo-Cabecera{
  width: 70%;
  text-indent: 15px;
}
#menu-principal{
  padding-top:25px;
  width: 30%;
  font-size: 18pt;
}
#menu-principal a{
  color:white;
}

#menu-principal .actual{
  text-decoration: none;
}

/*IMAGEN CENTRAL*/
.contenedor1{
  width: 900px;
  margin: 0 auto;
  background: #82c3a6;
  text-align: center;
}
.contenedor1 img{
  width: 60%;
}
/*IMAGENES SECUNDARIAS*/
.contenedor2 {
  width: 900px;
  margin: 0 auto;
  background: #d5c75f;
  border: 1px;
  display: flex;
  flex-direction: wrap;
  text-align: center;
  text-decoration: underline;
}
.contenedor2 img{
  width: 40%;
  height: 30%;
  margin: 15px;
}









/*diseño adaptativo para desktop*/
@media (min-width: 901px) {
  #contenido{
    width: 900px;
  }
  #contenedor1{
    width: 900px;
    text-align: center;
  }
  #contenedor2{
    width: 900px;
  }
  }

/*diseño adaptativo para moviles*/
@media (max-width: 900px)  {
  /*CABEZERA*/
  #contenido, #titulo-Cabecera, #menu-principal{
    width: 100%;
    text-align: center;
  }
  a{
    margin: 0px 25px;
  }
body{/*GENERALES*/
  width: 100%;
  text-align: center;
  display: block;
}
#contenedor1{/*IMAGEN CENTRAL*/
  width: 100%;
  text-align: center;
}
#contenedor1 img{
  width: 60%;
  text-align: center;
}
#contenedor2{/*IMAGENES SECUNDARIAS*/
width: 100%;
display: flex;
flex-direction: column;
text-decoration: underline;
}
#contenedor2 img{
  width: 60%;
  text-align: center;
  text-decoration: line-through;
  margin: 30px;
}
}
